.login {
    padding: 16px 15px;

    margin-left: 30px;
    margin-right: -50px;

    outline: none;

    height: 100%;

    border: 0;

    color:      hsl(120, 100%, 70%);
    background: hsl(000, 000%, 33%);
}

.login:hover {
    cursor: pointer;    
    background: hsl(55, 100%, 75%);
}

.login:active {
    background: hsl(000, 000%, 33%);
    color: white;
}