* {
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a {
    cursor: pointer;
}

body {
    margin: 0 0 50px 0;
}

.articles {       
    display: grid;

    grid-template-columns:                
        [start margin-left]
        1fr 
        [article-start]                  
        70%         
        [article-end]
        1fr
        [end margin-right];

    grid-auto-rows: initial;
    gap: 5vw 0;
    margin: 0 20px;
}


 
.debug-full-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

article {
    border: 10px solid hsl(120, 100%, 70%);
    border-radius: 20px;
}

figure * {
    display: block; /* remvoing the space beneth the imgage */
}

figcaption {
    display: flex;
    justify-content: center;

    margin-top: 0.5rem;
}

.share {
	display: flex;
	justify-content: center; 
}

.share i {
    padding: 0.75rem;	    
    color: hsl(120, 100%, 70%);
}

@media all and (max-width: 900px) {
    .articles {
        grid-template-columns:  [start] 1fr [article-start] minmax(280px, 800px) [article-end] 1fr [end];                
    }  
 
}

@media all and (max-width: 316px) {   
    .articles {
        margin: 0 0;
        gap: 0;
    }
    article {
        border-radius: 0px;
        border-bottom: 0;
        border-top: 10px;
        background: linear-gradient(hsl(120, 100%, 70%), white 6.55rem);
    }
    nav {
        margin-bottom: 0px;
    }
}