body {
    margin: 50px 5%;
}

.articles {       
    display: grid;

    grid-template-columns:                
        [margin-left]
        1fr 
        [article-start]                  
        70%         
        [article-end]
        1fr
        [margin-right];

    grid-auto-rows: initial;
    gap: 50px;
}


 
.debug-full-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

article {
    border: 10px solid hsl(120, 100%, 70%);
    border-radius: 20px;
}

figure * {
    display: block; /* remvoing the space beneth the imgage */
}

figcaption {
    display: flex;
    justify-content: center;

    margin-top: 0.5rem;
}

.share {
	display: flex;
	justify-content: center; 
}

.share i {
	padding: 0.75rem;
	/* width:   1.50rem;
	height:  1.50rem; */
}

@media all and (max-width: 900px) {
    .articles {
        grid-template-columns:                            
            [article-start]                  
            minmax(280px, 800px)                     
            [article-end];        
    }  
 
}